*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    
}

html,body{
    height: 100%;
    width: 100%;
}
 

main{
    height: 100%;
    width: 100%;
    background-color: #fff;
    display: grid;
    grid-template-columns: 33% 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header header" 
                          "aside section"
                          "footer footer";
                          gap: 5px;
                          padding: 10px 10px ;

header{
     
    text-align: center;
    grid-area: header;
    background-color: rgb(1, 44, 1);
    h1{
        padding: 10px 0;
    }
}
  aside{
     margin:10px 10px 10px 0px;
    padding: 100px;
        background-color: #f3f3f3;
        position: relative;
        p{
            padding: 20px;
            color: #000;
        
          
        }
    }

     section{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
         
        
        img{
             
            border-radius: 10%;
            width: 300px;
             height: 300px;
            object-fit: cover;
           transition: all  0.3s linear ;

           &:hover{
           transform: scale(0.9);
           }  
        
        
    }
       
     }

     footer{
        
         
         text-align: center;
        grid-area: footer;
        background-color:  rgb(1, 44, 1);
        p{
            padding: 10px 0;
        }
     }
}