* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;

}


main{
    height: 100%;
    width: 100%;
    background-color:#e6e6e6;
    

}
header{
    padding: 20px;
     height: 70px;
     background-color: #fff;
     display: flex;
     align-items:start;
     justify-content:space-between;
    
      
}
header h1{
    font-size: 25px;
    font-weight:800;
}
header ol{
    
    padding-top: 5px;
    list-style: none;
    display: flex;
    gap: 30px;
}
header ol li:hover{
    font-size: 18px;
    border-bottom: 2px solid black;
}
 .button1{
     border: 2px solid blue;
    background-color: blue;
    padding: 10px 20px;
    border-radius: 20px; 
    color: #fff;
 }
 .button1:hover{
    background-color: white;
    color: blue;
 }
  .button2{
     border: 2px solid blue;
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 20px; 
    color: blue;
 }
 
 
section h2{
    font-size: 25px;
    padding: 20px;
    font-weight:500;
    
}

section .box1{
    color: rgb(122, 122, 122,);
    position: absolute;
    top: 90px;
    right: 0;
    width: 70%;
     
}
 
.box1 #button1{ 
    border: 2px solid blue;
    background-color: blue;
    padding: 10px 15px;
    border-radius: 20px; 
    margin: 15px 2px;
    color: #fff;
}
.box1 #button1:hover {
    background-color: #fff;
    color: blue;
}
  .box1 #button2{
     color: Blue;
      border-radius: 20px;
      padding: 10px 15px;
      background-color: #fff;
      border: 2px solid blue;
}

figure{
    display: flex;
    justify-content: center;
}
figure img{
    position: absolute;
    bottom: 10px;
    width: 95%;
    height:500px;
    object-fit: cover;
    border-radius: 20px;
    
}

 

 