* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

main {
  width: 100%;
  background-color: #eeeeee;
}
main header {
  width: 100%;
  padding-bottom: 1rem;
}
main header h1 {
  padding: 1rem 0 0.5rem 0;
}
main header ol {
  width: 100%;
  background-color: rgb(3, 127, 176);
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 1rem;
  color: #fff;
}
main header ol li {
  padding-right: 1rem;
}
main .section1 {
  box-shadow: 0px 0.5px 20px rgb(233, 222, 222);
  border-radius: 0.5rem;
  background-color: #fffcfc;
  border-radius: 0.3rem;
  width: 100%;
  margin-top: 1rem;
  padding: 1.5rem 0.5rem 1.5rem 1.3rem;
}
main .section1 h2 {
  padding-bottom: 0.5rem;
  border-bottom: 1px dotted black;
}
main .section1 p {
  padding-top: 1rem;
}
main .section1 img {
  border-radius: 0.5rem;
  width: 300px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0.5rem 0 0 35rem;
}
main .section1 h3 {
  padding: 1rem 0;
}
main .section1 ul {
  padding-left: 5rem;
  border-bottom: 1px dotted #000;
}
main .section1 ul li {
  padding-bottom: 0.5rem;
  font-weight: 400;
}
main .section2 {
  box-shadow: 0px 0.5px 20px rgb(233, 222, 222);
  border-radius: 0.5rem;
  margin: 1.2rem 0;
  background-color: #fffcfc;
  width: 100%;
  padding: 1.5rem 0.5rem 1.5rem 1.3rem;
}
main .section2 h2 {
  padding-bottom: 0.5rem;
  border-bottom: 1px dotted black;
}
main .section2 p {
  padding: 0.8rem 0 0.5rem 0;
}
main .section2 ol {
  padding: 0 0 0 4rem;
}
main .section2 ol li {
  padding-bottom: 0.5rem;
}
main .section2 ul {
  padding-left: 4rem;
}
main .section2 .last-p {
  padding-bottom: 1.3rem;
}
main footer {
  margin-top: 1.5rem;
  text-align: center;
  color: #fff;
  padding: 1rem;
  background-color: rgb(29, 28, 28);
} 