* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}
html {
  font-size: 16px;
}

@mixin image() {
  .image1 {
    grid-area: image1;
    width: 100%;
  }
  .image2 {
    grid-area: image2;
    width: 100%;
  }
  .image3 {
    grid-area: image3;
    width: 100%;
  }
  .image4 {
    grid-area: image4;
    width: 100%;
  }
  .image5 {
    grid-area: image5;
    width: 100%;
  }
  .image6 {
    grid-area: image6;
    width: 100%;
  }
  .image7 {
    grid-area: image7;
    width: 100%;
  }
  .image8 {
    grid-area: image8;
    width: 100%;
  }
  .image9 {
    grid-area: image9;
    width: 100%;
  }
}

main {
  width: 100%;
  background-color: #0a0909;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    transition: all 0.3s linear 0.1s;
    border-radius: 1rem;
  }
}

@media (min-width: 768px) {
  main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "image1 image2"
      "image3 image4"
      "image5 image6"
      "image7 image8"
      "image9 image9";
    padding: 0.5rem;

    @include image();
  }
}

@media (min-width: 1024px) {
  main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "image1 image2 image3"
      "image4 image5 image6"
      "image7 image8 image9";

    @include image();
  }
}

img:hover{
    scale: 0.98;
}
