* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}


html, body {
  width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color:#dadada;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 50px 35px 1fr 50px;
    grid-template-areas: 
    "header header"
    "nav nav"
    "aside section"
    "footer footer"
    ;

header{
        grid-area: header;
        background-color: #3f3f3f;
        h1{
            color: #fff;
            text-align: center;
            padding: 5px;
        }
    }

nav{
        grid-area: nav;
        border-bottom:1px solid black ;
        display: flex;
        align-items: center;
        justify-content: center;
         ul{
            list-style: none;
            display: flex;
            // align-items: flex-end;
            //  justify-content: center;
            //  padding: 8px;
             li{
                font-weight:500 ;
                padding-left: 25px;
             } 
         }
    }

aside{
    grid-area: aside;
    h3{
        padding:  15px 15px;
    }
    ol{
        list-style: none;
        padding:0px 10px ;
        li{
            padding: 10px 10px;
            border-bottom:2px solid rgba(194, 193, 193, 0.974) ;
        }
    }
    
}
section{
    grid-area: section;
    background-color: #fff;
    padding-left: 20px;
    .images{
        padding-left:150px;
        padding-bottom: 10px;
    img{
        padding-left:10px ;
        height: 365px;
         width:300px;
         object-fit: cover;
    }
}
    h2{
        padding: 25px 0px;
    }
    >p{
         font-weight: 500;
         padding-bottom: 15px;
    }
    h3{
        padding-bottom: 10px;
    }
    ul{
        padding-bottom: 10px;
        padding-left:70px;
       li >p{
        font-weight: 500;
       }
      }
}
footer{
    grid-area: footer;  
    background-color:#3f3f3f;
    text-align: center;
    color: #ffff;
    padding: 20px;
    font-weight: 500;
}

}