* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
}
html {
  font-size: 16px;
}

@mixin flex($gap: 0rem) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

main {
  width: 100%;
  background-color: #0d0d0d;

  .section1 {
    width: 100%;
    @include flex(0.8rem);
    padding: 0.8rem;

    .top {
      width: 100%;
      img {
        width: 100%;
        border-radius: 1.2rem;
      }
    }

    .bottom {
      width: 100%;
      background-color: #1e1c1cd5;
      border-radius: 1.2rem;
      padding: 2rem;

      h2 {
        font-weight: 400;
      }

      h1 {
        text-transform: uppercase;
        font-weight: 500;
        padding-top: 3.3rem;
        font-family: 1.5rem;
        word-spacing: 0.1rem;
      }

      .text {
        font-weight: 200;
        font-size: 1.1rem;
        line-height: 1.6;
        padding-top: 1rem;
        color: #e0dedecc;
        word-spacing: 0.1rem;
        opacity: 0.7;
      }

      .button {
        display: flex;
        align-items: center;
        padding: 1.5rem 0;
        gap: 0.6rem;

        i {
          border: 1px solid white;
          border-radius: 50%;
          padding: 0.5rem;
        }
        p {
          text-transform: uppercase;
        }
      }
    }
  }
}

@media (min-width: 900px) {
  main {
    width: 100%;
    .section1 {
      flex-direction: row;
      .top,
      .bottom{
        width: 50%;
      }
      
      .bottom{
        justify-content: space-between; 
      }
      
    }
  }
}
